<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>GuiaPress</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png">
    <link rel="manifest" href="../public/images/site.webmanifest">

    <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>